#button-switch-theme-label{
    margin-top: 3px;
}

.iconSunMoon {
    margin-left: -2px;
    margin-right: -4px;
    height: 30px;
    width: 30px;
}

.themeButtonPosition {
}

#buttonLightMode {
    color: black;
}

#buttonDarkMode {
    color: #f1c40f;
}


