#product-form-layout-form_layout{
    width: 500px;
    margin-left: -300px;
}

#product-form-layout-product_name{
    font-weight: bold;
    margin-bottom: 10px;
}

#product-form-layout-label_failure{
    font-size: x-large;
}

#product-form-layout-icon_failure{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

.product-form-layout-failure_layout{
    margin: auto;
}


.product-form-layout-image_layout{
    width: 100px;
    height: 100px;
}

#product-form-layout-product_image{
    width: 165px;
    height: 200px;

}

.product-form-layout-product_card{
    border: 1px solid hsl(0, 35%, 36%);
    border-radius: 10px;
    width: 800px;
    height: 250px;
    margin: 50px auto auto;
    padding: 10px;
    /*background : hsl(0, 51%, 59%)*/
}

.product-form-layout-badge_layout{
    margin-top: 70px;
}

#product-form-layout-details_button{
    color: hsl(0, 35%, 36%);
    width: 200px;
}

