.orders-view-formlayout{
    width: 1000px;
    height: 600px;
    margin: auto;
}

#orders-view-orders_title {

}

#orders-view-order_number_select{
    margin-bottom: 30px;
    width: 200px !important;
}

#orders-view-grid{
    width: 1000px;
    margin: auto;
}


