.product-details-view-product_card_layout {
    border: 3px solid hsl(0, 35%, 36%);
    border-radius: 5px;
    width: 1200px;
    margin: 50px auto auto;
    padding: 20px;
}

#product-details-view-addToCart_button{
    background-color: hsl(0, 35%, 36%);
    margin-top: 22px;
}

#product-details-view-product_image {
    border: 1px solid hsl(0, 35%, 36%);
    height: 400px;
    width: 300px;
}

#product-details-view-product_name {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 20px;
}

.product-details-view-image_buttons_layout {
    margin-left: 100px;

}

.product-details-view-details_title{
    margin-bottom: -15px;
    font-size: 14pt;
}

.product-details-view-details{
    font-size: 12pt;
}

.product-form-layout-product_details_layout{

}

.product-details-view-badge_layout{
    margin-top: -20px;
    margin-bottom: 30px;
}

.product-details-view-image_layout{
    width: 350px !important;
}

